footer {
    text-align: center;
    bottom:0px;
    left:0px;
    right:0px;
    position: absolute;
    font-style: italic;
}

header {
    text-align: center;
    left:0px;
    right:0px;
    position: relative;
    font-style: bold;
}